[2020-07-03 22:30] No9 opened #2 "Support kubernetes environments that don't have S3 File System options."
The project currently requires the kubernetes cluster to support S3 based file systems.
While that is possible to configure on most (all?) public kubernetes providers it does cause friction when installing.

https://github.com/IBM/core-dump-daemon has been set up to move the current bash implementation in https://github.com/No9/coredump-node-detector/tree/containerd-support to a more robust and te

[2020-07-03 22:32] No9 opened #3 "Port install to an operator"
Currently this project uses helm as it's deployment approach and has a bash daemon to ensure the file management configuration stays in place. This will likely be better implemented as an operator.
This issue is to track the investigation and work.

[2021-05-12 09:00] No9 commented on #2
Fixed in https://github.com/IBM/core-dump-handler/releases/tag/v2.0.10
S3 File System replaced with an agent
https://github.com/IBM/core-dump-daemon consolidated into this repo.

[2021-05-12 09:00] #2 closed

[2021-05-12 09:45] No9 opened #5 "Add support for GKE cos_containerd node type"
Installation on GKE currently fails due to the requirement of multi-node clusters using [local](https://kubernetes.io/docs/concepts/storage/volumes/#local) rather than HOST storage.

The [persistent volume](https://github.com/IBM/core-dump-handler/blob/master/charts/templates/pv.yaml) needs a conditional based on a new `daemonset.storage` flag that creates the required object.

The main applicatio

[2021-08-12 11:36] pfragoso opened #6 "zip files are corrupted"
Hello,

I have deployed core-dump-handler in a k8s cluster and it's currently sending coredump to s3 as intended.

The only issue is that all the files that get sent to s3 are corrupted.

[code]

[code]

This happens to all files. Tried downloading via Browser and via aws CLI same result.

[2021-08-17 10:50] andytson-inviqa commented on #6
This appears to happen when the k8s host node doesn't have crictl installed. Perhaps that should be a soft warning and avoid including that metadata in the zip if it isn't installed?

[2021-08-17 10:52] andytson commented on #6
This appears to be caused when crictl isn't available on the K8s host node, which causes the command to finish before it's flushed and ended the zip file. Perhaps this could be a soft warning and continue without the metadata if the command doesn't exist?

[2021-08-19 08:21] No9 commented on #6
Thanks for reporting this.
The behaviour @andytson outlines with the soft warning is the intent but it looks like there is a problem with the logic.
Can I ask which container runtime your cluster is running?

[2021-08-23 10:10] pfragoso commented on #6
Hello,

This is running on EKS with the docker container runtime.

[2021-08-25 10:26] No9 commented on #6
Perfect thanks for the reproduction steps.
I have been looking for a reason to do the validation for EKS for the matrix in the readme. I'll take a look

[2021-08-26 08:44] andytson opened #7 "enhancement: ability to set fs.suid_dumpable"
Lots of applications start as root user, and setuid in order to run with lower privileges. This is usually to do with opening log files or binding to privileged ports.

Segfaults from these setuid'd processes do not create core dumps by default, and require the sysctl config `fs.suid_dumpable` set to 1 or 2.

Would it be possible to have an env var for the core-dump-agent to set this sysctl settin

[2021-09-01 09:39] andytson commented on #6
@No9 I can confirm on @pfragoso's behalf that the 2.0.11 release fixes the issue. New zips are valid and contain just the *.core and *-dump-info.json files

[2021-09-01 16:58] andytson commented on #7
The following triggers a segfault after setuid. It's not otherwise as simple as `su -c 'kill -11 $$' app` as the segfault has to be in the setuid process rather than child process

https://gist.github.com/andytson-inviqa/e1c933ccaa1825a9c4449cbf823c3c13

[2021-09-02 12:04] No9 commented on #6
Thanks @andytson and @pfragoso for all the feedback
I'll close this and if there is anything additional please feel free to open up another issue.

[2021-09-02 12:04] #6 closed

[2021-09-07 22:45] No9 commented on #7
Quick update I have an implementation of this here https://github.com/IBM/core-dump-handler/tree/suid-support
My quay.io access is broken due to the move to SSO so I need to setup another account to host the images and test.
Should get that done soon and I'll merge after that.

[2021-09-07 23:06] No9 commented on #7
Actually setting up the new quay repo was easier than I thought
https://quay.io/repository/icdh/core-dump-handler?tab=builds

I have to wrap up for the day but you can point the chart to
`quay.io/icdh/core-dump-handler:suid-support` to test

[2021-09-08 15:50] No9 commented on #7
Tested the suid-support branch with the command `kubectl run -i -t segfaulter --image=quay.io/icdh/segfaulter --restart=Never`
Where quay.io/icdh/segfaulter is based on the code initially supplied. -> https://github.com/No9/segfaulter

There was a nit in the quote escaping in the chart but now seems to work as expected and core-dumps are generated as expected.
I'll let this sit for a few days and

[2021-09-09 13:32] andytson commented on #7
I've tested it myself and it appears to work as expected.

One comment though, but should SUID_LIMIT instead be called SUID_DUMPABLE?

As for quotes, I tend to do `value: {{ .VAR | quote }}` as that ensures proper escaping

[2021-09-09 17:52] andytson commented on #7
also thanks for the logs location fix, I was wondering why it was in /node without a container mount to view it

[2021-09-09 19:22] No9 commented on #7
Appreciate the feedback - changed to SUID_DUMPABLE and used quotes - thanks for the tip.
If there's nothing else I'll validate the file lock code I've also put in and then do a release.

[2021-09-09 21:41] No9 commented on #7
lock code seems to be working well - Ran with 5ms intervals and the file uploads uncorrupted.

[2021-09-10 07:08] No9 opened #9 "Create demo video"
It would be great to get a demo of installing the tool and running the sample segfault app for people interested in using the project.
Link to the video should be available from the top of the project page.
This can be done on any hosting provider or a your own cluster some suggested steps are
1. show the configuration of the object store
1. Runs the helm chart with the params
1. Waits for the age

[2021-09-10 07:16] No9 opened #10 "Create integration test"
It would be great to have a bash script or rust test that does the following:
1. Runs the helm chart based on a .env file
1. Waits for the agent pod to be running
1. Runs the sample test container
[code]
1. Runs the core-dump client
1. Validates a backtrace is possible with `./rundebug` and `bt` https://github.com/IBM/core-dump-handler/tree/client/core-dump-client

[2021-09-10 20:08] No9 commented on #7
Merged https://github.com/IBM/core-dump-handler/pull/11 and built release [v2.1.0](https://github.com/IBM/core-dump-handler/releases/tag/v2.1.0)
Thanks again @andytson for opening this issue and providing great feedback.
Please let me know if you have any other good ideas

[2021-09-10 20:08] #7 closed

[2021-09-10 22:32] No9 opened #12 "Document installation on different cloud providers"
It would be great if there were markdown files for each of the working cloud providers that contained documentation for setting the project up on the different k8s services and object storage environments. This may be as simple as finding the different links to the documentation for setting up a cluster, configuring the kubectl client and configuring object storage.

[2021-09-14 04:07] adinhtdsibm commented on #9
@No9 As discussed, I can work on this issue. Please do assign my name and I will update you once I am done with the video.

[2021-09-14 04:08] adinhtdsibm commented on #12
@No9 As discussed, I can work on this issue. Please do assign my name and I will update you once I am done with the documentation.

[2021-09-25 00:13] No9 opened #13 "Add support to take a core dump of a running process"
In some scenarios such as memory leaks or hung processes it would be useful to request a coredump from a running exe rather than login and create a signal to the process.
One possible route would be to add a code and tools to the agent pod that would allow gcore or comparable tools to be executed from within that pod against a specific pid.
This will need some investigation before a specific route

[2021-09-25 10:35] No9 opened #14 "Add support for getting metadata from EKS"
Currently only the core file and the metadata that is sent to composer process from the OS is captured on EKS.
This is because the OS on the node doesn't provide access to the crictl client.
Investigation is needed to confirm if the crictl client is available on the machine but not in the PATH.
If it's not available the two options are to copy a version of crictl to the machine as part of the depl

[2021-10-01 15:32] No9 opened #16 "Create builds for client"
Currently the install for the client requires the end user to have rust installed.
It would be nice for the release page to also container prebuilt exes for popular desktop OSSes.

[2021-10-01 16:29] himanshu007-creator commented on #16
Hi, i would like to work on this issue. But can you explain the issue again, I didn't get it

[2021-10-01 18:17] No9 commented on #16
Sure - thanks for your interest.
The core-dump-client project is a sub project in this repo
https://github.com/IBM/core-dump-handler/tree/main/core-dump-client

It's designed to run on an end users desktop machine to set up a debug session in kubernetes

This issue is to use a github action that will build the core-dump-client for mac windows and linux
I think something like https://github.com/mar

[2021-10-02 16:13] No9 commented on #5
Started to work on this.

[2021-10-02 18:24] No9 commented on #5
Support for GKE Ubuntu containerd has been tested and the matrix has been updated.
https://github.com/IBM/core-dump-handler/commit/a59c4e6cba2b95a39493dfd04afa48bcda46e799
The cos_containerd image doesn't work as the composer fails to execute so keeping this issue open to track further work.

[2021-10-03 13:11] No9 commented on #5
Created the script-support branch to investigate further and it appears as though the cos_containerd image prevents any executable from being ran as a processor for the core dump. Still investigating.

[2021-10-04 19:49] No9 commented on #10
Completed in https://github.com/IBM/core-dump-handler/pull/17

[2021-10-04 19:49] #10 closed

[2021-10-12 13:10] No9 opened #19 "Add support for a local debug session using podman"
Podman allows you to build pod definitions where containers can share resources in a similar fashion to kubernetes.
The idea here is to mimic the k8s deploy so a local pod is started in a two container configuration.
This issue is to track the work being done on it.
Items to address:
The first iteration may use the download capability in the debug containers
https://github.com/IBM/core-dump-contai

[2021-10-12 22:21] No9 opened #20 "Create a debug container for golang"
It seems as though delve is the tooling for debugging golang applications
https://github.com/go-delve/delve
This issue is to track the work for creating a go based image in the container repo
https://github.com/IBM/core-dump-containers

[2021-10-12 22:52] No9 opened #21 "Enable the cdcli to accept custom debug images"
While prebuilt images are meant to cover most use cases there may be a need to bring some custom tooling or support a language that isn't covered yet.
The feature should provide an additional flag for the cli that takes an image location as it's argument.

[2021-10-25 20:38] No9 opened #22 "Generate CRICTL YAML"
For digital ocean the node also needs the following crictl client config
[code]

Place into  `/etc/crictl.yaml`

[2021-10-26 05:19] isbee opened #23 "Question: Who runs Composer?"
I'm interested in this chart and currently look into it. And there is something I don't understand.

Doc says a DaemonSet Agent deploys Composer, but when I see Agent code, I can't find codes running Composer.
As far as I currently understand,

1. core-dump-handler image's entrypoint is Agent. It can be confirmed by Dockerfile and daemonset.yaml.
2. core-dump-handler image contains Composer binary

[2021-10-26 10:36] #22 closed, assigned to nobody

[2021-10-26 13:53] timbuchwaldt opened #25 "Allow specifying existing secret"
It's a common pattern to allow configuration of an existing secret.
This would allow the daemonset (https://github.com/IBM/core-dump-handler/blob/main/charts/templates/daemonset.yaml#L36) to use a secret of the users choosing, in my case I prefill them from Vault or use Rook Ceph to set them and won't specify them via the values.yaml.

[2021-10-26 13:54] timbuchwaldt opened #26 "Allow setting resources"
Many clusters specify default resource limits, those need to be overridden with fitting values by the user.
It would be helpful to allow setting resource requests and limits for the daemonsets pods.

[2021-10-27 02:28] #23 closed, assigned to nobody

[2021-10-27 06:27] isbee opened #28 "Optionally seperate S3 object directory by metadata"
As far as I know, dump file name is `{CORE_UUID}-dump-{CORE_TIMESTAMP}-{CORE_HOSTNAME}-{CORE_EXE_NAME}-{CORE_PID}-{CORE_SIGNAL}` and this is equal to S3 object name.

When someone uses a single S3 bucket, and If core-dump-handler is used on multi-cloud/multi-cluster/multi-region, it's hard to figure out where does a dump file come from. Since these metadatas are statically settled on deploying dae

[2021-10-27 10:11] isbee opened #29 "Watch filesystem rather than polling"
Agent take polling approach to check whether core dumps are exist. Theoretically dumps are rarely generated so in most cases, it becomes a useless operation.

Therefore, I think it is better to optimize using filesystem watch instead of polling. Most OSs support this feature(e.g. Linux's inotify, BSD's kqueue, ...) and there is some rust open source related to this.

There are two things to consid

[2021-10-27 12:23] No9 opened #30 "Include Node HOSTNAME in dump-info.json"
As per discussions in https://github.com/IBM/core-dump-handler/issues/28 it would be useful to add the node hostname of the composer service to aid downstream categorization.
This issue is to track work on it.

[2021-10-28 10:30] #30 closed, assigned to nobody

[2021-10-28 10:32] #26 closed, assigned to nobody

[2021-10-29 12:31] timbuchwaldt opened #33 "Release to chart repo"
It's a best practice to upload the released helm chart to a helm repo, this allows users like us to define a dependency on it and e.g. automatically update it.

[2021-10-30 07:32] timbuchwaldt commented on #25
That’s resolved then :)

[2021-10-30 07:32] #25 closed

[2021-10-30 13:08] No9 opened #34 "Beautify Chart Repo Page"
Currently the index.html page is fairly basic
https://ibm.github.io/core-dump-handler/
it would be nice to have a prettier page that displayed the contents of index.yaml

[2021-10-30 14:56] No9 commented on #33
Completed in https://github.com/IBM/core-dump-handler/releases/tag/v5.0.0 with package and verification now part of the releases.
index.yaml now available at https://ibm.github.io/core-dump-handler/index.yaml

[2021-10-30 14:56] #33 closed

[2021-10-30 15:41] sunidhisachan commented on #34
Hey @No9 I can try this

[2021-10-30 15:52] No9 commented on #34
Great - @sunidhisachan
I would be good if we don't have to rely on any build-steps if possible.
I will assign it to you.

[2021-10-30 21:10] No9 commented on #34
@sunidhisachan should have said
if you have any questions please feel free to ask. Doesn't matter how small it is.

[2021-10-30 23:15] No9 opened #36 "NOTICE - Splitting of debugging cli into a seperate repo"
During a couple of conversation on the route to release 5.0.0 it became apparent that the debugging cli should be partitioned away from the main core-dump collection. This is due to the shared configuration between the client and server not being ideal and the release cadence of the cli being very different than the server.
The likely location for the cli will be https://github.com/IBM/core-dump-c

[2021-10-31 22:29] No9 commented on #3
Ported the bash daemon to rust and there was no clear requirement to include an operator as the service is just a single process. Closing as not required

[2021-10-31 22:29] #3 closed

[2021-10-31 22:50] No9 commented on #36
Removed in https://github.com/IBM/core-dump-handler/commit/92b2b9d6678252fb01780139900440e522f390d3

[2021-11-01 02:34] No9 commented on #21
Moved to client repo https://github.com/IBM/core-dump-client/issues/1

[2021-11-01 02:34] #21 closed

[2021-11-01 02:35] No9 commented on #20
Moved to client repo https://github.com/IBM/core-dump-client/issues/2

[2021-11-01 02:35] #20 closed

[2021-11-01 02:36] No9 commented on #19
Moved to client repo https://github.com/IBM/core-dump-client/issues/3

[2021-11-01 02:36] #19 closed

[2021-11-01 10:28] No9 commented on #34
Would also be good if we can either incorporate this widget
https://artifacthub.io/packages/helm/core-dump-handler/core-dump-handler?modal=widget
Or even expand on it?
[code]

[2021-11-02 20:28] No9 commented on #29
Hey @isbee there is an initial implementation of iNotify here
https://github.com/IBM/core-dump-handler/tree/schedule-watch
You should be able to checkout that branch and run it with your usual settings but note the scheduled approach and Inotify are mutually exclusive.
As you suggested the service sweeps the folder on startup
https://github.com/IBM/core-dump-handler/blob/schedule-watch/core-dump-a

[2021-11-04 11:07] No9 opened #41 "Add separate core location to deployment"
WIth the introduction of scheduled uploads core dumps may accumulate so this issue is to track the creation of a separate PV and PVC for the storage of the cores.

[2021-11-04 11:07] No9 commented on #5
So executables **must** be ran from `/home/kubernetes/bin`
Immediate fix is to add the `--set daemonset.hostDirectory=/home/kubernetes/bin` to the helm script.
However this will place cores in that folder too and this may not be optimal.
Opened https://github.com/IBM/core-dump-handler/issues/41 to track this

[2021-11-04 11:07] #5 closed

[2021-11-08 18:53] No9 commented on #34
OK put an initial piece in place so I am going to close this.
https://github.com/IBM/core-dump-handler/commit/d06ed30df09c32e14df43bf42966d6a1805d1a6f
Happy to take another PR If there are any further improvements

[2021-11-08 18:53] #34 closed

[2021-11-08 19:00] No9 commented on #41
Implemented in
https://github.com/IBM/core-dump-handler/commit/57ff29139bb61a8ae4b583ef963e34128c580c38
https://github.com/IBM/core-dump-handler/commit/8fa009ccbf188340472ec240dfc46815374aae8f

[2021-11-08 19:00] #41 closed

[2021-11-08 21:12] No9 commented on #29
Merging as part of PR https://github.com/IBM/core-dump-handler/pull/43

[2021-11-08 21:12] #29 closed

[2021-11-08 21:13] No9 commented on #36
Completed as part of https://github.com/IBM/core-dump-handler/pull/43

[2021-11-08 21:13] #36 closed

[2021-11-08 21:23] No9 commented on #28
As there are no further comments I am going to close this but feel free to reopen if you have some more detail on the paths requirements

[2021-11-08 21:23] #28 closed

[2021-11-08 21:56] No9 commented on #13
Moved to the client https://github.com/IBM/core-dump-client/issues/4

[2021-11-08 21:56] #13 closed

[2022-01-06 13:12] tjungblu opened #44 "OpenShift compatibility"
Hey,

I'm currently looking into this project for OpenShift, you mention for ARO/ROSA:

what is missing to get this to work with RHCOS?

Cheers,
Thomas

[2022-01-06 17:55] No9 commented on #44
Hey @tjungblu
To be honest I'm not 100% what's required for RHCOS.
I ran a couple of very quick tests on ARO/ROSA and they didn't work.
Specifically the agent that uploads the core-dumps worked as expected but the cores weren't collected by the exe on the host.

Some aspects I was going to investigate further:

The [core-dump-composer](https://github.com/IBM/core-dump-handler/tree/main/core-dump-c

[2022-01-07 10:03] travier commented on #44
If I understand correctly, this program sets itself up to handle coredumps from the kernel, taking over systemd-coredump. As the binary is launched directly by the kernel, the easiest option is to place it directly on the host in `/usr/local/bin` for example which is a writable path on RHCOS. Then the agent can run as a container with access to the path where the dumps are stored.
Another option i

[2022-01-07 11:00] tjungblu commented on #44
Thanks for your hep here @travier, much appreciated.
I just had some time and tried this out with out cluster-bot installing 4.9 on AWS directly (Red Hat Enterprise Linux CoreOS 49.84.202201042103-0) and it works flawlessly with just these adjustments:

and the scc grant:

![image](https://user-images.githubusercontent.com/85170409/148534038-baa45389-4a99-4d0b-8a4d-921f44cb93da.png)

do you think

[2022-01-07 11:11] No9 commented on #44
@tjungblu can you confirm the contents of the zip - there should be 7 files in there.
Just want to confirm that `crictl` is being picked up properly

[2022-01-07 11:14] tjungblu commented on #44
@No9 interesting, I got only 5:

[code]

The coredump looks fine though with objdump (as far as I can tell)

I ran the segfaulter directly after installing the helm chart:

[2022-01-07 11:19] No9 commented on #44
OK the good new is it like `crictl` is there and functioning but you are missing the image info.
Can you redeploy with the chart adding `--set daemonset.composerCrioImageCmd="images"` and rerun the coredump.

[2022-01-07 11:33] tjungblu commented on #44
yep, that's now on the daemonset:

COMP_CRIO_IMAGE_CMD = images

I'm afraid the image file isn't there however:
[code]

[2022-01-07 11:42] No9 commented on #44
OK in the pod can you run `cat /mnt/core-dump-handler/composer.log`
That is the log for the composer - hopefully there is a clue there
If there isn't can we can redeploy with `--set daemonset.composerLogLevel="Debug" to get verbose output.

[2022-01-07 11:46] tjungblu commented on #44
debug did the trick, here's the log output:

[code]

[2022-01-07 11:49] tjungblu commented on #44
it's not visible in the above log, but I reckon that's the error:

[code]

[2022-01-07 11:50] tjungblu commented on #44
running the crictl command directly gives:

[code]

[2022-01-07 12:47] No9 commented on #44
Hmm but it's reporting `DEBUG - 2022-01-07T11:44:48.237318408+00:00 - Found 30 images`
30 is larger than the error output which would suggest it's running ok https://github.com/IBM/core-dump-handler/blob/main/core-dump-composer/src/main.rs#L458
But the mapping of ids isn't working https://github.com/IBM/core-dump-handler/blob/main/core-dump-composer/src/main.rs#L460
Typical that the debugging does

[2022-01-07 13:56] No9 commented on #44
@tjungblu Building ... https://quay.io/repository/icdh/core-dump-handler/build/e99996b6-6385-4d72-8e7c-2aa180f6c326
I'll run the integration test once the build is complete to confirm everything is in order and drop a note in here.

[2022-01-07 14:06] tjungblu commented on #44
sounds good, let me spin up another cluster for this

[2022-01-07 15:10] tjungblu commented on #44
I took the liberty to run it already, since it's Friday :)

here's the output:

[code]

[2022-01-07 16:14] No9 commented on #44
Love a Friday vibe :)
Looks like the issue is `imageRef` should be matched with the `repoDigests` array rather than just mapping to `id`.

I was hoping the `id` in the image collection was based on the hash in the`imageRef` but alas not.

As a fix I will also iterate over the `repoDigests` for a match as that will be the least impacting to the current functionality.

I'll ping when a test image is

[2022-01-07 17:50] No9 commented on #44
ok @tjungblu that's building here
https://quay.io/repository/icdh/core-dump-handler/build/8942eba5-352d-447f-b19f-ae419caa422e
Glad we have got that in as it will be needed for consistent post processing and the [client cli](https://github.com/IBM/core-dump-client)

Let me know if you want to add the scc fix to this and I will hold off merging this into main and bundle both aspects as a single rel

[2022-01-10 09:02] tjungblu commented on #44
@No9 awesome. I sadly couldn't figure out which container image tag was built (can't see the build logs), but I took the last tag `img-logs` and I now have a proper image info in my archive:

[code]

[code]

now we're at six files, you have mentioned earlier there should be seven. Anything crucial missing here?

I can send you a separate PR towards the end of the week once I got helm properly work

[2022-01-10 11:05] No9 commented on #44
Hey @tjungblu
So it was 7 files **including** the .zip file.
There are 6 files inside the zip so we are in excellent shape (Sorry I mis-read my test)
If your happy with a post-hook then I am happy to take it as long as it doesn't interfere with the xKS platforms.

How do you want to deal with the recommendation to use `/run/systemd/coredump`. I'm happy to capture it as a separate issue and look at

[2022-01-10 12:02] tjungblu commented on #44
I think that's the least invasive, I reckon we put it behind an `enableOpenShift` value flag in helm. I send you a PR later this week :)

yeah, I'd suggest we do it that way - it seems to work for now :)

[2022-01-10 15:34] No9 commented on #44
This is actually a little tricky as there is currently a `--set daemonset.vendor=rhel7` to support ROKS
So for `enableOpenShift` to work as across all providers it would need to do the following:
1. set the host directories `hostDirectory: "/mnt/core-dump-handler" coreDirectory: "/mnt/core-dump-handler/cores"`
2. apply the scc
3. Determine the host OS to set the `VENDOR` env_var on the daemonset
S

[2022-01-10 15:53] No9 opened #45 "Use systemd management facilities"
As part of the discussion in https://github.com/IBM/core-dump-handler/issues/44#issuecomment-1007283866 it was suggested that on systems using systemd the agent could open a socket directly to systemd-coredump via its socket (/run/systemd/coredump) and process the results. That would requires less kernel configuration and enable the collection from a container.

While this isn't an immediate requi

[2022-01-11 11:52] tjungblu commented on #44
great point, after all your explanation it seems that `enableOpenShift` is a certainly too broad.

I'm wondering how many platforms we really need here, it seems that ROKS is different due to using RHEL instead of RHCOS.
I can see where you want to go with the different providers, especially in relation to the "provider-local" storage options. Another solution would be to have different values fil

[2022-01-11 13:38] No9 commented on #44
The other xKS services such as GCP/AWS seem to offer "own brand linux" by default and an Ubuntu option for their nodes so I think this will have wider utility

I really like the idea of a different values file! Lets go with that along with the `addSccToUser` flag

Agree with the operator - There is a helm wrapper for this project here https://github.com/IBM/core-dump-operator but it's really just

[2022-01-11 13:49] tjungblu commented on #44
I couldn't get the job to work that would patch the existing SCC, which makes sense as this would be an easy privilege escalation path. I could make it work by creating a new SCC - so please have a look at #46 :)

awesome! then let's add a couple more, let me know what you think about the naming in the PR - I just bluntly named it openshift again.

Nice! The reason I came here is that we have a li

[2022-01-13 10:21] tjungblu opened #47 "Custom / Templated Filenames"
(follow-up to the conversations that triggered #44)

We talked with the customer today and it turned out that they have a multi-tenant system where each tenant is separated by namespaces. They would like to have a way to distinguish the core-dumps by namespaces, so they can later on send them to the right tenant.

I can see the namespace is in the pod-info.json already, what do you think about mak

[2022-01-13 10:37] tjungblu opened #48 "Alternative upload sink"
(yet another follow-up to the conversations that triggered #44 + #47)

Our customer is in the Telco space and already has a so called "Element Management System" that allows to observe crashes and manage crash dumps. They would like to upload the dump there instead of an ObjectStore.

I don't really have a good understanding of what they can upload and how that works in detail yet, I just wanted t

[2022-01-13 10:41] tjungblu opened #49 "Adding the pod logs"
(yet another follow-up to the conversations that triggered #44 + #47 + #48 - last one for now)

Our customer would like to correlate pod logs, this is potentially easy done in OpenShift as you can take the pod info from the dump and search in the logging system. However, because our customer is a vendor the cluster logging system might not be accessed by the respective tenants very easily.

Anothe

[2022-01-13 15:25] No9 commented on #48
Yes. Today you should be able disable the default agent upload by setting the scheduler to be none and disabling the iNotify.
Something like this should work but would need to be tested.
[code]
You can then deploy your own uploader either as part of the chart or out of band.
If we are to support different uploaders more systematically we should probably look to move the deployment of the service i

[2022-01-13 16:22] No9 commented on #47
This has been discussed previously https://github.com/IBM/core-dump-handler/issues/28#issuecomment-952832484
Changing the name of the external file shouldn't be too difficult but if they are in a multi-tenancy environment it might be better to do some post processing so they can enable access based on their use case.
Also note there may also need to scrub the corefile for personally identifiable i

[2022-01-13 18:47] No9 commented on #49
For the `cp` approach there are lot of different logging variations that would have to be catered for in order for it to be generalised:
- Node logging agent
- Streaming sidecar container
- Sidecar container with a logging agent
- Exposing logs directly from the application
https://kubernetes.io/docs/concepts/cluster-administration/logging/#cluster-level-logging-architectures
I'm not convinced thi

[2022-01-16 17:04] No9 commented on #49
Moved the `crictl` code into a specific library for reuse in another project and added a log method to it.
https://docs.rs/libcrio/latest/libcrio/struct.Cli.html#method.logs
I'll integrate that in on the next release

[2022-01-18 12:41] No9 commented on #47
OK the plan here is to implement the file name convention as template using
https://github.com/bheisler/TinyTemplate
There will be a documented context object that contains the current params, a GUID and the namespace
[code]
The template will be configurable as a parameter in the chart
`fileNameTemplate`
And will default to the current format
[code]

[2022-01-18 13:01] No9 opened #50 "Add values files for different xKS environments"
As part of the RHCOS support it was identified that having an additional values file for different flavours of k8s could simplify the install process. This issue is to track the creation and documentation of this functionality.

[2022-01-21 14:54] No9 commented on #44
OK - I've merged the work associated with this issue and we have created separate issues for follow on work so I am closing this.
Please track the release project for updates.
https://github.com/IBM/core-dump-handler/projects/1

[2022-01-21 14:54] #44 closed

[2022-01-23 02:24] No9 opened #52 "Agent Mocks"
Currently the agent requires root access to make the sysctl calls this makes it hard to develop with locally and very difficult to test in CI environments.
Logging this issue to investigate creating a mock sysctl similar to the crictl in composer that could be used to validate most of the agent functionality without having to run the integration test.

[2022-01-23 11:08] No9 commented on #47
Implemented in
https://github.com/IBM/core-dump-handler/commit/49916939668990861d9bab3c2bb757695c9cd6bf
https://github.com/IBM/core-dump-handler/commit/f27156dfe9281c8a0a95711b5aad4d3c3cbda614
Will be packaged as part of.
https://github.com/IBM/core-dump-handler/projects/1#card-76263089

[2022-01-23 11:08] #47 closed

[2022-01-23 11:37] No9 commented on #49
Initial implementation here https://github.com/IBM/core-dump-handler/commit/de95956082a7638b4cd630598fe156f22612619f
On reflection shipping the whole log is not optimal and could potentially timeout the dump.
I'm going to switch this to be a tail command where the default size of the tail will be 500 lines (Subject to validation)
See https://github.com/No9/libcrio/issues/1

[2022-01-23 17:41] No9 commented on #49
Moving this to done but keeping this open to confirm discussion on log tail approach.

[2022-01-24 00:22] No9 commented on #50
Fixed in https://github.com/IBM/core-dump-handler/commit/7fbcb614a274737a949523484657512f55df7e09

[2022-01-24 00:22] #50 closed

[2022-01-24 20:06] No9 commented on #48
Commented in the new FAQ https://github.com/IBM/core-dump-handler/commit/58ef93d43e59c83600bac40276a92c6bf1b164ee
Specifically https://github.com/IBM/core-dump-handler/blob/pod-logs/FAQ.md#how-should-i-integrate-my-own-uploader

[2022-01-24 20:06] #48 closed

[2022-01-25 01:32] No9 commented on #52
Mock sysctl created as part of this commit https://github.com/IBM/core-dump-handler/commit/ae77f61ad4c41dd5ca546fc733c1d3322245bbdd

[2022-01-25 09:05] tjungblu commented on #49
I think the tailing is good enough already. Thanks so much for your work @No9 :)

[2022-01-26 00:05] No9 commented on #49
Great - I have an initial cut of the tail feature on this branch - https://github.com/IBM/core-dump-handler/tree/pod-logs
It has your openshift.yaml work and points to an specific release candidate so you should be able to run it using the usual steps.
I've also updated the segfaulter container to generate a 1000 log lines before crashing.
Can you give it a spin when you have time and confirm you

[2022-01-26 08:53] tjungblu commented on #49
just tested this again with OpenShift 4.9 on AWS. It works like a charm :) Thanks a lot once more, @No9.

do you want to create a PR maybe? happy to review it through there

[2022-01-26 09:08] No9 commented on #49
Thanks for looking at it @tjungblu
I've PRd the whole change set here https://github.com/IBM/core-dump-handler/pull/53
Closing this as we've validated the log collection.

[2022-01-26 09:08] #49 closed

[2022-01-27 12:04] splitice opened #54 "Crash Loop due to out of memory"
Been seeing OOMs with he default helm settings (Exit Code:    137)

[code]

I attempted to increase the memory limit, to 256MB but this too failed. This seems supicious given that it's only uploading a file, it shouldnt need anywhere near this amount of memory.

it repeats this crash in a loop.

[2022-01-27 12:18] splitice commented on #54
There looks to be an API

https://docs.rs/rust-s3/latest/s3/bucket/struct.Bucket.html#method.put_object_stream

This should really be used to keep memory usage down with larger core dumps.

[2022-01-27 14:31] No9 commented on #54
The fix for this is merged and published to main and latest in the container repo
https://quay.io/repository/icdh/core-dump-handler/build/64086be2-6e64-4546-9188-f1c2a6755c15

[2022-01-28 12:30] No9 commented on #52
On review the agent will need a significant refactor in order to move tests from integration into units.
Given the split between the initialization and running pod also needs to be implemented I'm going to close this and come out with a plan for release 8.0.0.

[2022-01-28 12:30] #52 closed

[2022-01-29 00:58] No9 commented on #54
Released in https://github.com/IBM/core-dump-handler/releases/tag/v7.0.0
Thanks again for the patch!!

[2022-01-29 00:58] #54 closed

[2022-02-08 11:22] Semmix opened #62 "tolerations are falsely defined as an object instead of an array"
tolerations are falsely defined as an object instead of an array in the schema.json file
Had to delete the schema.json to get this to work

[2022-02-08 12:55] No9 commented on #62
Hey @Semmix
Thanks for your interest in the project.
It looks like we inherited this from the helm template generator as we took the defaults from there.
Anyway would you be able to provide a toleration definition that illustrates what you are trying to achieve?
I can add that to the [CI tests](https://github.com/IBM/core-dump-handler/tree/main/charts/core-dump-handler/ci ) and get a fix out that

[2022-02-08 20:56] Semmix commented on #62
If i try to set tolerations the following way:
[code]
I get this error:

[code]

if I try and set it as an object:
[code]
i get the following error :

[code]

[2022-02-08 22:13] No9 commented on #62
Thanks for the example always very useful to get a test.
From my understanding it's the first example (tolerations should be applied as an array) should work and the schema is getting in the way.
I'll put a fix together for it.

[2022-02-09 01:18] No9 commented on #62
Released in https://github.com/IBM/core-dump-handler/releases/tag/v8.0.1
Had to revert a change but please feel free to test and close once this build has competed https://quay.io/repository/icdh/core-dump-handler/build/5d015696-ee3b-430f-8610-e2d02adff468

[2022-02-09 01:20] No9 opened #65 "Scheduler seems to halt in certain scenarios"
In some integration tests when using schedule rather than iNotify the code for the schedule doesn't seem to fire the job. Further investigation required.

[2022-02-09 04:59] splitice opened #66 "8.0.0 fails to take crashdump"
Did an upgrade to 8.0.0

Started getting the following in dmesg (and no dump handled)

[code]

Any ideas?

[2022-02-09 07:48] No9 commented on #66
Strange - There was no work done on cdc as part of 8.0.0, it's still on 7.1.0
Can you look at the composer log?

If you took the default install location you can exec into the agent pod and run
`cat /var/mnt/core-dump-handler/composer.log`
If there is nothing in there reinstall with `--set composer.logLevel="Debug"` and recheck the log.

Also there was a patch release so please use 8.0.1

BTW inte

[2022-02-09 08:09] splitice commented on #66
Thank you for that information - I'm testing something and will get back to you when I have results. It might have been an error during manifest update.

[2022-02-09 08:13] splitice commented on #66
By the way when doing a `kubectl apply` to deploy a modified daemonset the first pod got stuck in terminating.

[code]

[2022-02-10 01:13] No9 commented on #65
Fixed in https://github.com/IBM/core-dump-handler/pull/68

[2022-02-10 01:13] #65 closed

[2022-02-10 01:15] No9 commented on #62
@Semmix Closing as fixed but feel free to open another issue if this isn't what you had in mind.
Thanks again for raising the issue and providing a test.

[2022-02-10 01:15] #62 closed

[2022-02-10 13:11] Semmix commented on #62
Thanks so much @No9, worked magically 😍

[2022-02-21 09:19] tjungblu opened #69 "configure coredump.conf"
Hey @No9,

sorry to annoy you again - another day, another requirement :)
Apparently there are coredumps that can be above 2G and there is a limit in systemd coredump.conf that needs to be configurable.

Specifically they need to set the following in `/etc/systemd/coredump.conf`:
[code]

Here's a MAN page for all the respective configuration values:
https://www.systutorials.com/docs/linux/man/5-co

[2022-02-21 11:20] travier commented on #69
For RHCOS, I recommend dropping a file with the required configuration in the `.d` folder (`/etc/systemd/coredump.conf.d/*.conf`) via a MachineConfig instead of overriding the default configuration file (but that should also work).

I don't remember exactly which version introduced this support in systemd / RHEL 8 thus I would recommend verifying that this works too.

See https://man7.org/linux/ma

[2022-02-22 10:20] No9 commented on #66
Hey @splitice Did you get this resolved?
If so can we close this or is there follow on required?
Thanks

[2022-02-22 10:56] splitice commented on #66
It looks resolved after a restart of the daemonset on the new version. Haven't had a crash to test it since.

[2022-02-22 11:03] #66 closed

[2022-02-23 09:30] No9 commented on #69
Hey @tjungblu - No problem hearing about use cases. It's what we love :)
Not sure about the requirement though.
From what I can tell from the [docs](https://man7.org/linux/man-pages/man8/systemd-coredump.8.html) (See `Configuration` section) systemd doesn't modify the capture of the core in the kernel it provides `systemd-coredump` to be piped into.
As we are providing our own capture service `cor

[2022-02-23 10:00] tjungblu commented on #69
right, that makes sense, let me divert back to the customer and their solution architect.

Also thanks @travier, I passed the MCO solution back to them already.

[2022-03-02 01:04] No9 opened #71 "Cloud Event Support"
Following on from the discussion in https://github.com/IBM/core-dump-handler/discussions/61
Opening this issue to track this feature for release in 9.0.0

[2022-03-08 08:08] mikeage opened #72 "v8.0.3 image is missing from quay.io"
Installing v8.0.3 gave me an ImagePullBackOff:

[code]

And indeed, the image isn't there; see https://quay.io/repository/icdh/core-dump-handler?tab=tags&tag=latest

Did something go wrong with the release process?

[2022-03-08 09:28] No9 commented on #72
Thanks for raising this.

Very strange. The build for a release tag is automated when the tag is generated by the release action during the chart update.
It looks like the tag event wasn't seen by quay.io as there is no build event for v8.0.3 and therefore no image.
I need to investigate further.

I've create a tag for v8.0.3 based on the `main` image that was built using the same merge event for

[2022-03-08 09:37] mikeage commented on #72
Thanks! I've upgraded my cluster to 8.0.3. It's running nicely.

[2022-03-09 14:04] hari-narayanan94 opened #74 "Azure Storage Support"
This Tool looks like the exact thing i need now for my AKS Clusters , but unfortunately Im not able to find any option to send the core dump to any Native Azure Solution . I see s3 is supported and is there any way to send those dumps over to Azure storage Blob or File share ? Azure natively doesn't support s3 protocol

[2022-03-09 16:32] No9 commented on #74
Hey @hari-narayanan94
Thanks for the feedback.
If you needed this **today** you could look at a the microsoft opensource blog that suggests using a minio shim to create an S3 compatible API for blob.
https://cloudblogs.microsoft.com/opensource/2017/11/09/s3cmd-amazon-s3-compatible-apps-azure-storage/#:~:text=Using%20s3cmd%20and%20other%20Amazon%20S3%2Dcompatible%20apps%20with%20Azure%20Blob%20Stor

[2022-03-10 12:43] hari-narayanan94 commented on #74
Thanks for the Quick response , I will try to get it setup on my AKS Cluster with the workaround today and share my experiences .

[2022-03-10 14:29] hari-narayanan94 commented on #74
I tried the Minio and everything looks to be working on that side and now i have a functioning s3 endpoint . When i installed core dump hander on my AKS Cluster and simulated a crash , the ZIP gets generated but it fails to upload with the following error .

[2022-03-10T14:25:22Z INFO  core_dump_agent] Uploading: /var/mnt/core-dump-handler/cores/3d7bc367-569a-497e-b929-3b6c33b5dd8c-dump-1646921760

[2022-03-10 15:35] hari-narayanan94 commented on #74
Yes , I did use that while applying the helm . Below is the helm installation command i used

helm.exe install my-core-dump-handler core-dump-handler/core-dump-handler --set daemonset.s3AccessKey=storageaccountname --set daemonset.s3Secret=xxxxx --set daemonset.s3BucketName=https://xxxx.azurewebsites.net --set daemonset.s3Region=us-east-1

FYI , Since I only have Azure I used the suggested link to

[2022-03-11 09:41] pkit opened #75 "Hardcoded AWS credentials"
Why exactly this one insists on passing hardcoded clear text credentials for S3 access?
Here:
https://github.com/IBM/core-dump-handler/blob/5791642bad16030eb5a47c90c4f2b9281cd75548/core-dump-agent/src/main.rs#L365
`Credentials::new(None, None, None, None, None)` should be a valid option for using node-based credentials.

[2022-03-11 12:07] No9 commented on #75
Hey @pkit
Insisting on credentials seemed like a reasonable default as core dumps can contain sensitive information and so the idea was to prevent any unintentional exposure.
I'm happy to revisit this as a configuration option if you have a valid use case.
I'm also not 100% on what you mean by `node-based credentials` so would appreciate a pointer there.

[2022-03-11 12:48] No9 commented on #74
OK so using https://xxxx.azurewebsites.net/ as a bucket won't work.

According to the article you should be able to use the s3cmd to make a bucket.
[code]
You should then be able to use this option `--set daemonset.s3BucketName=testbucket`

[2022-03-11 12:51] pkit commented on #75
@No9 the use case is pretty simple: EKS with AWS roles centrally managed by `eksctl` or any other gitops flow.
Now, to use `[core-dump-handler](https://github.com/IBM/core-dump-handler)` I need to set up secret in my gitops flow with clear text keys or invent some creative ways to hide it.

I'm not sure how exactly a daemonset installation insisting on a clear-text keys improves any security...

A

[2022-03-11 15:04] No9 commented on #75
@pkit Agree - putting clear text into your deployment pipeline is not optimal.
The aim of insisting on credentials was to encourage users not to have open object storage endpoints.

In a gitops scenario others have used the following approach:
[Configure the chart to ignore secrets](https://github.com/IBM/core-dump-handler/blob/main/FAQ.md#how-do-i-apply-my-own-secrets) and used something like [va

[2022-03-11 15:16] pkit commented on #75
@No9 the role association works like this: https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html
ServiceAccount is associated with a particular AWS role that has S3 access.

[2022-03-11 15:29] pkit commented on #75
Just FYI, I'm thinking about something like this:

[code]
here credentials are used on a "best effort" basis, exactly like majority of AWS tools does it.

[2022-03-12 13:26] pkit commented on #75
I've made these changes and also set the `secretRef` for keys to `optional`, and it worked quite fine.
But still the whole thing is kinda useless as it doesn't detect any segfaults...
Nothing is happens in the logs, even in `Debug` level.
Could it be that it cannot work across namespaces?

[2022-03-12 14:39] No9 commented on #75
The core config is done on the host so it covers all namespaces.
Can you confirm the core pattern is getting set by logging into a host and running `sysctl kernel.core_pattern`
You should see something like
`|/var/mnt/core-dump-handler/cdc -c=%c -e=%e -p=%p -s=%s -t=%t -d=/var/mnt/core-dump-handler/cores -h=%h -E=%E`

While on the host can you confirm the exe runs by executing `/var/mnt/core-dump-

[2022-03-12 14:45] pkit commented on #75
Yup, it seems like it sets the pattern allright.
Here's the log of one pod:
[code]
Unfortunately I don't have access to nodes in the current nodegroup (no ssh key was set up). I'm creating a debug-able nodegroup right now and will check out what's going on on these new hosts soon.

[2022-03-12 14:55] No9 commented on #75
The agent and install looks good.
Can you provide the EKS version when you have a minute?

[2022-03-12 14:57] pkit commented on #75
It's EKS 1.21 for control plane
Nodes have a mix of `v1.20.7-eks-135321` and `v1.21.2-eks-55daa9d`

[2022-03-12 15:08] pkit commented on #75
Ok, found it:
[code]
I have compiled it using the `Dockerfile` from the repo https://github.com/IBM/core-dump-handler/blob/main/Dockerfile

[2022-03-12 15:20] No9 commented on #75
OK is `ubi7` compatible?

[2022-03-12 15:24] pkit commented on #75
Yup, it's `2.17`

[2022-03-12 15:30] No9 commented on #75
OK you should be able to use the rhel7 vendor option
`--set daemonset.vendor=rhel7`
That uses cdc built with the `ubi7`
https://github.com/IBM/core-dump-handler/blob/main/Dockerfile#L1

[2022-03-12 15:43] pkit commented on #75
Yup, found it. It works!
I think docs needs to be updated as the newest EKS version is `1.21` and it needs `vendor: rhel7` to work. :)

[2022-03-12 15:48] pkit commented on #75
I can do PR with all the changes if it's ok

[2022-03-12 16:12] No9 commented on #75
Glad you've sorted it out and thanks for putting in the work - I'm sure it will be useful for others.
We should add it to the aws values file
https://github.com/IBM/core-dump-handler/blob/main/charts/core-dump-handler/values.aws.yaml

Happy to take the PR and do a release.
Can you also add a note to the chart README.md to outline all the options you needed to set to get this to work.

[2022-03-12 20:04] #75 closed

[2022-03-13 11:33] pkit opened #78 "pvc -> pv mismatch when bindng"
Now, moving from `dev` to `staging` got into the following issue:
[code]
As you can see the `host-storage-pvc` is bound to `core-volume` pv, which makes it impossible for `core-storage-pvc` to bind (1Gi vs 10Gi)
Looks like you either need to pre-bind or use some other creative idea.
Will think about something, but I don't have anything rn.

[2022-03-13 12:35] No9 commented on #78
That's a nasty one that was missed because the default is to create the `core` directory as a sub-folder of the host directory.

Looking at the docs this can be fixed with a reservation using a [claimRef](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume).

[code]

This now gives the intended result
[code]
And passes the integration tests.

`.Release.name

[2022-03-13 12:45] No9 commented on #78
Added to this branch https://github.com/IBM/core-dump-handler/tree/claim-ref

[2022-03-13 12:50] pkit commented on #78
I think `claimRef` should work, yeah. Thanks!
Will test it later though, doing some different stuff rn.

[2022-03-13 15:52] pkit commented on #78
Yup, works fine

[2022-03-13 17:06] #78 closed

[2022-03-13 18:01] No9 commented on #78
Hey @pkit
Released in v8.1.1

[2022-03-13 18:05] pkit commented on #78
Thanks!

[2022-03-14 12:42] tjungblu commented on #69
Let's close this here for now, I need to file another issue for a related issue :)

[2022-03-14 12:42] #69 closed

[2022-03-14 12:51] tjungblu opened #81 "Core Dumping large memory applications"
Hey @No9,

from #69 we had the customer requirements to configure limits - we came to the conclusion that there are indeed no limits on the OS side.

I tried to adapt the segfaulter script today with a bit more memory than necessary (6 gigs worth of 42s https://github.com/tjungblu/segfaulter) and run it as usual with

The core-dump triggered and albeit having only 4mb in size (which is fine, I gue

[2022-03-14 14:52] No9 commented on #81
Hey @tjungblu
So the error is being thrown from the zip library here https://github.com/zip-rs/zip/blob/25a5b4e4ba6ebfb0adcbfbcd24a7947e909fcd9f/src/write.rs#L207

There seems to be a large file option that can be set on the zip library
https://github.com/zip-rs/zip/blob/25a5b4e4ba6ebfb0adcbfbcd24a7947e909fcd9f/src/write.rs#L132

I'll take a look with your sample segfaulter

[2022-03-14 22:45] No9 commented on #81
Ok so the good news is that the large file option captures the core dump correctly but it causes the `iNotify` functionality to fail as the file is still reported as locked.

I will look at it a little more but as noted in https://github.com/IBM/core-dump-handler/issues/29#issuecomment-952858532 I've had very mixed experience with iNotify in general and given we will need some sort of retry strate

[2022-03-15 08:24] tjungblu commented on #81
Thanks for the quick fix! Just verified your branch works.

[2022-03-15 14:13] #81 closed

[2022-03-15 14:15] No9 commented on #81
Hey @tjungblu
I couldn't replicate the iNotify issue at all today so I have left the current agent config as is so we can release this without a major bump.
If it does crop up let me know otherwise I will come back around to it as part of the cloud events stuff.

[2022-04-03 11:06] mikeage commented on #72
It looks like this may still be occurring in 8.2.0

[2022-04-03 11:46] No9 commented on #72
Fixed by generating the tag from main build again.
I'll raise this with quay.io

[2022-04-16 14:16] No9 commented on #72
Finally bottomed this out today.
This is happening as I am cancelling older builds so that the latest builds get pushed through faster.
Cancelling a build seems to put the trigger into a disabled state.
So when the build pipeline completes it's active build, usually the `main` branch it drops the `tag` build which is in the queue as the trigger is now disabled.
In the UI it looks like the tag buil

[2022-04-16 14:16] #72 closed

[2022-04-26 21:10] dsaintilma-flinks opened #86 "Error: Text file busy (os error 26) - (GKE COS w/ v1.20.11-gke.1300)"
Hello,

## Context
We're deploying core-dump-handler. So far it has worked with our dev cluster which is using the version `1.21.9-gke.1002` of Kubernetes. No luck with our prod cluster. Relevant specs are below:

GKE control plane version: `1.20.15-gke.3400`
GKE worker nodes version:: `1.20.11-gke.1300`
GKE workers image type: `Container-Optimized OS with containerd (cos_containerd)`

Otherwise,

[2022-04-27 08:32] No9 commented on #86
Hi - Thanks for using the project and the detailed bug report.

Given the `Error: Text file busy (os error 26)` which is usually caused when the OS is trying to run a binary when it's being copied and the fact it's only happening on 2-3 nodes it looks like it's some sort of race condition on the deploy.

This is unusual as the core agent deploys the composer before changing the sysctls

A couple o

[2022-04-27 16:52] dsaintilma-flinks commented on #86
Other than this project, we have nothing else that is in place that interacts with the kernel to generate coredumps on our GKE workers. I'm not sure if they are even enabled by default.

It happened on the very first install.

[2022-04-28 15:49] No9 commented on #86
OK the fact it happened on the second try and `upgrade` was used is starting to give a little insight.
When testing `helm upgrade` previously it didn't work hence the [update note](https://github.com/IBM/core-dump-handler/#updating-the-chart) in the README.

Specifically the patch strategy of helm/k8s seemed to create order issues between the termination of the old container cleanup code on the ne

[2022-04-29 13:45] dsaintilma-flinks commented on #86
Yes, I confirm that some containers were crashing before and during the installation of coredump service.

[2022-04-29 17:33] No9 commented on #86
OK other containers crashing during the install will cause the text file busy error.
The code tries to mitigate against it but it doesn't guarantee that it won't happen.
If the uninstall and reinstall doesn't work during a period where there are no crashing containers then please update this issue

[2022-04-29 19:24] dsaintilma-flinks commented on #86
Just tried again (following the install/update notes) in the prod cluster when there's no container crashing and the result is the same. It's actually the same three nodes that has this issue.

Is there some element holding a "state" in the faulty nodes that could be cleared/reset?

[2022-04-29 21:44] No9 commented on #86
It's likely there is the kernel thinks that something is using the `cdc` exe.
From where the deploy process has got to the error is raised when copying the cdc file to the host machine
https://github.com/IBM/core-dump-handler/blob/main/core-dump-agent/src/main.rs#L435
If you can get onto the host machine and run `lsof | grep cdc` you might be able to see if a process is holding onto the cdc file.

[2022-05-03 16:08] dsaintilma-flinks commented on #86
I've used [toolbox for CoreOs](https://cloud.google.com/container-optimized-os/docs/how-to/toolbox) in order to troubleshoot the issue after connecting inside one of the GKE nodes. Used `ps` to find processes using `/home/kubernetes/bin/cdc`

The issue I'm seeing is that some segfaulter process that I ran weeks ago gets stuck when I executed by `/home/kubernetes/bin/cdc`.

Examples:
[code]

Some p

[2022-05-04 12:10] razielgn opened #88 "arm64 builds are missing (and impossible to build)"
I tried to build the image on arm64, but ubi7 does not provide such arch ([and won't](https://bugzilla.redhat.com/show_bug.cgi?id=1728771)).
Also the crictl binary would need to be pulled for arm64.
From what I understood, the two builds are due to libc issues. Would it be a viable solution to build binaries with musl, in order to have just one static binary for both?

[2022-05-04 21:26] No9 commented on #86
Glad you have it resolved.
It would be great to know what is causing cdc to hang. Does this issue reoccur now you have upgraded?
I think the mitigation for this would be to have `cdc` spawn a supervised task that has a timeout.
Please feel free to close this and open up an issue for cdc freezing issues.

[2022-05-04 22:02] No9 commented on #88
Hey @razielgn
It would be great to support arm64 and you are correct the builds are due to libc issues.
I have also had mysterious issues with musl in previous projects and so it's not something that I would like to pull into this project.
Also the builds are currently ran on quay.io which doesn't support arm at the moment.

Do you have a reference project or article that demonstrates multiarch on

[2022-05-10 11:10] razielgn commented on #88
[cargo-cross](https://github.com/cross-rs/cross) can be used to easily cross-compile for `$arch-unknown-linux-musl`.
I don't see another way to make an arm64 build useful for EKS users and Graviton instances since, as it's mentioned in the docs, they are on RHEL7-ish and we don't have a base image for that.

The usual painpoint in compiling for musl is openssl, but by updating `rust-s3` and settin

[2022-05-12 09:12] No9 commented on #88
Thanks for this - If I can parameterise `features = ["tokio-rustls-tls"] }` my initial thought is to release the musl builds as a separate image and provide docs on usage.
Basically create a new Dockerfile for this instance so we don't have to worry about the ubi7 problem.

From what I can see `Ok(Bucket::new(&s3.bucket, s3.region, s3.credentials)?.with_path_style())` is an API change in S3 so we

[2022-05-12 16:38] razielgn commented on #88
Basically create a new Dockerfile for this instance so we don't have to worry about the ubi7 problem.

Yes I think it's totally doable. I think overall switching to rustls would be a good move, it's been vetted and considered production ready, might save some megabytes in the final image.

Yep.

[2022-05-12 16:40] razielgn commented on #88
Let me know if I can take up some tasks to make this happen.

[2022-05-21 07:38] No9 commented on #86
Closing this and linking it to the systemd requirement as that would provide supervised process support if required.

[2022-05-21 07:38] #86 closed

[2022-05-21 07:39] No9 commented on #45
Using systemd may also address the process management requirement that came out of this issue.
https://github.com/IBM/core-dump-handler/issues/86

[2022-05-21 07:47] No9 commented on #88
@razielgn don't know if you've started looking at this yet but I'm going to start this weekend if I get anywhere the branch will be `arm-build`

[2022-05-22 10:47] No9 commented on #88
OK I have built the musl images here https://hub.docker.com/repository/registry-1.docker.io/number9/core-dump-handler-musl/tags?page=1&ordering=last_updated with arm64 and amd64 support.
I used the [multiplatform GH Action](https://github.com/IBM/core-dump-handler/blob/arm-build/.github/workflows/buildmusl.yaml) and created a [separate Dockerfile](https://github.com/IBM/core-dump-handler/blob/arm-

[2022-05-22 14:13] No9 commented on #88
https://quay.io/repository/icdh/core-dump-handler-musl?tab=info
Also committed to the quay repo
This will be my preferred option if the work ok

[2022-05-29 18:21] No9 commented on #88
Musl builds are now available as part of the 8.5.0 release https://github.com/IBM/core-dump-handler/blob/main/charts/core-dump-handler/README.md#aws-graviton-and-musl-support
If there are any issues then please open a fresh issue.

[2022-05-30 08:32] razielgn commented on #88
Hey, sorry I was on a break. Great job!

If I understand correctly, the arm64 image has a separate tag from the amd64 one, right? That would force setups with etherogeneous architectures to have different daemonsets, since the image tag needs to be specified separately.
Image repositories have the ability of pushing different archs separately and then merge them using a manifest.
In short, as an e

[2022-05-30 09:26] No9 commented on #88
Hey @razielgn Hope you enjoyed the break.
I decided to continue working as there were a number of PRs piling up and I had a feeling this might take a couple of iterations.

You're correct, the images shouldn't have a separate tag and there should be multiple archs available under the same version just as you describe.
i.e. `quay.io/icdh/core-dump-handler-musl:v8.5.0` should work for `amd64` and `a

[2022-05-30 22:57] No9 commented on #88
So @razielgn I have released [8.5.1 here](
https://quay.io/repository/icdh/core-dump-handler-musl?tab=tags) based on the manifest creation approach that you provided https://github.com/IBM/core-dump-handler/blob/main/.github/workflows/buildmusl.yaml#L63-L68
The manifest seems correct and quay recognises that the arch specific images are children of the main v8.5.1 image so I think should resolve t

[2022-05-31 10:48] razielgn commented on #88
@No9 fantastic, thank you so much! I'm going to test it later this week.

[2022-07-15 06:57] wsszh opened #102 "Get podname and namespace "unknown""
Hi, I set the filenameTemplate: "{uuid}-dump-{timestamp}-{hostname}-{exe_name}-{pid}-{signal}-{podname}-{namespace}", but I get the filename like this: "9a1fc79c-758c-4599-a22d-2e94444a3250-dump-1657867608-segfaulter-segfaulter-1-4-unknown-unknown.zip". How to fix it?

[2022-07-15 23:36] psact opened #103 "AWS Bottlerocket support"
When deploying the helm chart on bottlerocket nodes, it doesn't appear the containerd socket is available under /run.  I made a modification to the helm chart locally to mount it, and everything seemed to work.  I can make a PR with my changes wrapped in a conditional, but I'm not sure if there are other use cases for customizing where the socket exists based on the OS.

https://github.com/psact/c

[2022-07-18 08:08] No9 commented on #103
Hey @psact Thanks for the letting us know about this variant.
It's important for the project that we capture these scenarios.

Looks like an additional values override would cover this?
Something called `values.aws.bottlerocket.yaml` stored in https://github.com/IBM/core-dump-handler/tree/main/charts/core-dump-handler and containing the variables you set.

Also update the table in the chart README

[2022-07-18 22:08] psact commented on #103
I had set `crioEndpoint: "unix:///run/dockershim.sock"`, and ` deployCrioConfig: true` which seemed to work. I kept the default dump mount location at ` /var/mnt/core-dump-handler`

I went ahead and added some parameters for mounting the host docker socket, and pushed to my branch.

https://github.com/psact/core-dump-handler/tree/bottlerocket-dockersock

I can open a PR if you would like.

[2022-07-19 19:27] No9 commented on #103
Ah now I understand - Thanks for clarifying and putting together the yaml file.
Happy to take this as a PR

[2022-07-21 18:15] No9 opened #105 "Dynamic Code Analysis"
Dynamic code analysis is a SUGGESTED requirement for OSSF Best Practices
This issue is open to evaluate the DAST tools listed here to see which ones are fit for purpose
https://github.com/analysis-tools-dev/dynamic-analysis#rust

[2022-07-22 00:17] No9 opened #106 "Add Secure Disclosure Documentation"
As per https://docs.github.com/en/code-security/repository-security-advisories/about-coordinated-disclosure-of-security-vulnerabilities
This repository needs additional documentation on disclosures to meet the SSF requirements.

[2022-08-18 11:42] No9 commented on #106
Disclosure info now available in the security.md
https://github.com/IBM/core-dump-handler/blob/main/SECURITY.md#report-a-vulnerability

[2022-08-18 11:42] #106 closed

[2022-08-28 20:26] No9 commented on #103
Fixed in [V8.6.1](https://github.com/IBM/core-dump-handler/releases/tag/v8.6.1)
Thanks again for the PR

[2022-08-28 20:26] #103 closed

[2022-09-08 09:40] timbuchwaldt opened #110 "Possible bug - coredump hangs"
We had a production outage some time ago but reporting this here got lost during other tasks.
I pinpointed the issue to a big number of running coredump-composer processes that never finished processing the coredump. This in turn lead to the crashed process being kept alive (they can't be killed until the coredump handling finished) and in turn containerd becoming very unhappy about pods not termi

[2022-09-08 12:57] No9 commented on #110
Thanks for the report @timbuchwaldt
Is this something you plan to PR?

[2022-09-08 14:37] No9 commented on #110
Thinking about this a little further: putting a timer around this is fairly involved as it will need to setup a separate thread to execute the tasks on and if they don't complete then time out.

[2022-09-09 07:27] timbuchwaldt commented on #110
Hey @No9  - I'd look into working on that change, yep.

I see the complexity of this change, but from what I gathered during our outage I would say this is warranted. A system meant to help debugging problems should not cause/amplify them in any way.

[2022-09-09 08:30] No9 commented on #110
Totally agree it's required - Just wanted to let you know what you're taking on.
I'll commit to providing a review and getting it published ASAP.

[2022-09-12 13:12] timbuchwaldt commented on #110
I have looked a bit into this, not super happy with what I found so far. Rust discourages timeouting on threads and I don't see another nice super generic way. GNU Coretuils might come in handy though: The `timeout` command can wrap any binary and implement timeouting on it. I think technically it should work to switch the `core_pattern`  to `|timeout 5 $cdc-stuff` in order t ogive it a 5s timeout

[2022-09-12 13:23] No9 commented on #110
Not 100% on using `timeout` as it may not be available on the all the xKS platforms which means we will end up distributing it similar to the crio exe.
Do you have any links to the conversations on timing out threads?

[2022-09-12 13:33] timbuchwaldt commented on #110
Ah mhm good point, yeah.

https://stackoverflow.com/questions/36181719/what-is-the-correct-way-in-rust-to-create-a-timeout-for-a-thread-or-a-function
https://www.reddit.com/r/rust/comments/eit5oo/any_way_to_set_a_timeout_on_a_background_thread/

[2022-09-12 14:04] No9 commented on #110
OK - the reddit thread is talking about managing Rhai which is a script execution engine and much bigger beast than what we have.
While I agree we don't want to hand craft this the first link mentions recv_timeout]([https://doc.rust-lang.org/std/sync/mpsc/struct.Receiver.html#method.recv_timeout)
Have you looked at that as an option?

The other option is to provide what would really be our own `ti

[2022-09-12 18:30] timbuchwaldt commented on #110
RE Reddit: True.

I implemented the `recv_timeout` based function. I think this might benefit from a test - but that's a task for ... not tonight.

[2022-10-04 08:44] timbuchwaldt commented on #110
Hey @No9  - can I poke you on this? :D

[2022-10-04 17:13] No9 commented on #110
Yup - thanks for the reminder. Been at some confs but should be able to look at this tomorrow.

[2022-11-02 21:48] chzgustavo opened #115 "Error generating reports"
Hello, I am using this tool, congratulations it is very good, but I have noticed that when a segment fault is generated, it sometimes generates all the files with another namespace name.

I attach evidence.

- cluster: EKS v1.21
- core dump version:

[code]

- pod-info file: it contains the namespace `env-1f1de3e2bda8`, when in fact this pod is in the namespace: `env-e4e2facbcb22`
![image](https:/

[2022-11-02 21:49] chzgustavo commented on #115
Do you have any idea how I could debug this error.
Regards.
Gustavo.

[2022-11-02 23:51] No9 commented on #115
Hi @chzgustavo
Thanks for the feedback really appreciate it.

Do you have pods with the same name running in different namespaces?

### Background
The information from crio is currently queried using the hostname of the crashing container which is assumed to be unique.

This container hostname is then used to match to the pod.
https://github.com/IBM/core-dump-handler/blob/main/core-dump-composer/s

[2022-11-03 00:01] chzgustavo commented on #115
Yes, indeed, I have many pods with the same name running in different namespaces.

[2022-11-03 00:22] chzgustavo commented on #115
They all have the same hostname (but they are in different namespaces), is there any other possible solution for this case?
Thanks for your help!

[2022-11-03 00:56] No9 commented on #115
Sorry I'm not aware of another possible solution.

Statefulsets intentionally label the pods with ordinal numbers
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-identity.

If you're using helm you can add the namespace to the statefulset name which would resolve this.
I know it's clunky but it should resolve it handily enough.

The underlying issue here is that the cont